$ROCKET-PURPLE: #8023ff;
$ROCKET-PURPLE-LIGHT:#bb99dd;
$GREEN-VUE: #41b883;

$PRIMARY: $GREEN-VUE;

/*$FILTER: grayscale(100%) brightness(70%) sepia(50%) hue-rotate(-90deg) saturate(400%) contrast(1);*/
$FILTER: invert(54%) sepia(98%) saturate(7207%) hue-rotate(258deg) brightness(93%) contrast(119%);

@mixin LinkTree {
	height: 720px;
	max-height: 100vh;

	width: 500px;
	max-width: 100vw;

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	gap: 2rem;
	overflow-y: auto;

	& > p {
		color: $PRIMARY;
		font-family: Roboto, sans-serif;
	}
}

@mixin UserPic {
	height: 10rem;
	width: 10rem;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 100%;
	border: 2px solid $PRIMARY;

	& img {
		border-radius: inherit;
		height: inherit;
		width: inherit;
		transform: scale(90%);
	}
}

@mixin UserLinks {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.5rem;

	& > .link-card {
		width: 15rem;
		height: 3rem;
		border-radius: 8px;
		border: 2px solid $PRIMARY;
		color: $PRIMARY;
		text-decoration: none;
		padding: 0.4rem;

		display: flex;
		align-items: center;
		justify-content: center;

		& span {
			font-family: Roboto, sans-serif;
			font-size: 0.9rem;
			text-align: center;
			width: 100%;
		}
	}
}
@mixin UserSocial {
	width: 12rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	a, button {
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
	}

	& a {
		width: 30px;
		height: 30px;
	}

	& button:disabled {
		width: 30px;
		height: 30px;
		border: 2px solid $ROCKET-PURPLE;
		border-radius: 4px;

		& img {
			filter: $FILTER;
		}
	}
}
