:root {
	--blue: #0A3068;
	--red: #C12A23;
	--white: #FFFCF9;
	--gray900: #1A1A1A;
	--gray500: #8C8C8C;
	--gray200: #E9E6E3;
	--gradient: linear-gradient(235deg, #C12A23 1%, black, #0A3068 95%);
}

.container {
	background: linear-gradient(235deg, #C12A23 1%, black, #0A3068 95%);
	min-height: 100vh;
	color: #E9E6E3;
}

.container header {
	padding: 3rem 0;
}

.container header > img {
	width: 4rem;
	height: auto;

	display: block;
	margin: 0 auto 1.5rem;
}

.container header p {
	font-size: 2.2rem;
	font-weight: 600;
	text-align: center;
}

.container main div {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.container main div img {
	margin: 0 auto;
	width: 45vw;
	height: auto;
}

.container main div p.justify {
	text-align: justify;
}

.container main div p, .container main div h1 {
	max-width: 72vw;
	font-size: 1.25rem;
	margin: 0 auto;
}

.container footer {
	padding: 0 1rem 4rem;
}

.container footer p {
	text-align: center;
}

.container footer button {
	background: #E9E6E3;
	color: #1A1A1A;
	font-weight: 600;
	border: 0;
	border-radius: 4px;
	padding: 0.5rem 1rem;

	display: flex;
	align-items: center;
	gap: 1rem;

	margin: 1rem auto 1.8rem;
}

.container footer button img {
	height: 1.25rem;
	width:  auto;
}

.container footer button:active {
	filter: brightness(0.68);
}

@media(min-width:1024px) {
	.container main > div {
		flex-direction: row;
	}

	.container footer button:hover {
		filter: brightness(0.68);
	}
}
