<div class="container">
	<header class="">
		<img
			src="../../assets/loginform/logo.svg"
			alt="logo.svg"
		/>
	</header>

	<main class="">
		<div>
			<img
				class="arrow-right"
				src="../../assets/loginform/log-in.svg"
				alt="arrow-right.svg"
			/>

			<h2>Faça seu login</h2>
		</div>

		<h2>Entre com suas informações de contato</h2>

		<form
			action="#"
			method="get"
			accept-charset="utf-8"
		>
		  <div class="input-wrapper">
				<h6>Email</h6>

				<label id="email">
					<img
						src="../../assets/loginform/mail.svg"
						alt="mail"
					/>

					<input
						type="text"
						name="email"
						placeholder="Digite seu email"
					/>
				</label>
			</div>

			<div class="input-wrapper">
				<h6>Senha</h6>

				<label id="password">
					<img
					  src="../../assets/loginform/lock.svg"
						alt="lock"
					/>

					<input
						type="password"
						name="password"
						placeholder="Digite sua senha"
					/>

					<img
						src="../../assets/loginform/eye-focus.svg"
						alt="eye"
					/>
				</label>
			</div>

			<div>
				<label>
					<input type="checkbox" />

					<span>Lembre-me</span>
				</label>

				<span>Esqueci minha senha</span>
			</div>

			<button type="submit">Login</button>
		</form>

		<span>
			Nao tem uma conta?&nbsp;

			<button type="button">Registre-se</button>
		</span>
	</main>
</div>
